:root {
  --background: #f8f7ff;
  --primary: #5f6caf;
  --accent: #ff8fa3;
  --nav: #424e8c;
  --text: #232946;
}

main > div {
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1rem;
}

main ul li {
  list-style: square;
  list-style-position: inside;
}

main h3 {
  color: var(--primary);
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

.social a {
  display: inline-block;
  background-color: var(--accent);
  color: var(--primary);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.social a:hover {
  background-color: var(--primary);
  color: var(--accent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
